/* common title start here  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* common title end here  */
/* header start here  */
.header{
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 280px 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.header-content{
    align-self: end;
}
.header-title{
    font-size: 38px;
}
.header-para{
    color:#757575;
}
.header-btn{
    align-self: start;
    padding: 15px 15px;
    background-color: rgb(255, 99, 71);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
/* header end  here  */

/* main start here  */
/* my future start here  */
.my-futures{
    margin: 150px 100px;
    display: flex;
    align-items: center;
    gap: 80px;
}
.my-futures-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.my-futures-right-title{
    font-size: 30px;
}
.my-futures-right-para{
    color:#757575;
}
.my-futures ul li{
    list-style-type: none;
    color:#757575;
    margin:5px 0;
}
ul li i{
    color: green;
    margin-right: 5px;
}
/* my future end here  */
.my-plans{
    text-align: center;
    margin: 0 150px;
    margin-bottom: 120px;
}
.my-plans-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}
.my-plans-cards{
    display: flex;
}
.my-plans-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.my-plans-card img{
    margin: 0 auto;
    width: 100px;
}
.card-title{
    font-size: 26px;
}
.card-para{
    color:#757575;
}

/* my plan start here  */
/* my plan end here  */
/* main end here  */